In [21]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
import math
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('/content/sample_data/Smp_dataset.csv',sep = ',')
print(df.head())

   Unnamed: 0 symbol                       date    close     high     low  \
0           0   AAPL  2015-05-27 00:00:00+00:00  132.045  132.260  130.05
1           1   AAPL  2015-05-28 00:00:00+00:00  131.780  131.950  131.10
2           2   AAPL  2015-05-29 00:00:00+00:00  130.280  131.450  129.90
3           3   AAPL  2015-06-01 00:00:00+00:00  130.535  131.390  130.05
4           4   AAPL  2015-06-02 00:00:00+00:00  129.960  130.655  129.32

     open    volume    adjClose     adjHigh      adjLow     adjOpen  \
0  130.34  45833246  121.682558  121.880685  119.844118  120.111360
1  131.86  30733309  121.438354  121.595013  120.811718  121.512076
2  131.23  50884452  120.056069  121.134251  119.705890  120.931516
3  131.20  32112797  120.291057  121.078960  119.844118  120.903870
4  129.86  33667627  119.761181  120.401640  119.171406  119.669029

   adjVolume  divCash  splitFactor
0   45833246      0.0          1.0
1   30733309      0.0          1.0
2   50884452      0.0          1.0
3   32112797      0.0          1.0
4   33667627      0.0          1.0

In [4]:
print(df.dtypes)

Unnamed: 0       int64
symbol          object
date            object
close          float64
high           float64
low            float64
open           float64
volume           int64
adjClose       float64
adjHigh        float64
adjLow         float64
adjOpen        float64
adjVolume        int64
divCash        float64
splitFactor    float64
dtype: object

In [5]:
df.shape

(1258, 15)

In [6]:
df1 = df.reset_index()['close']

In [7]:
df1.head()

0    132.045
1    131.780
2    130.280
3    130.535
4    129.960
Name: close, dtype: float64

In [8]:
df1.shape

(1258,)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0,1))
df1 = scaler.fit_transform(np.array(df1).reshape(-1,1))

In [10]:
df1

array([[0.17607447],
       [0.17495567],
       [0.16862282],
       ...,
       [0.96635143],
       [0.9563033 ],
       [0.96491598]])

**Train and Test Split**

In [11]:
training_size=int(len(df1)*0.65)
test_size=len(df1)-training_size
train_data,test_data=df1[0:training_size,:],df1[training_size:len(df1),:1]

**Data Preprocessing**

In [16]:
def create_dataset(dataset, time_step=1):
  dataX, dataY = [], []
  for i in range(len(dataset)-time_step-1):
    a = dataset[i:(i+time_step), 0]
    dataX.append(a)
    dataY.append(dataset[i + time_step, 0])
  return np.array(dataX), np.array(dataY)

time_step = 100
X_train, y_train = create_dataset(train_data, time_step)
X_test, ytest = create_dataset(test_data, time_step)

**LSTM**

In [17]:
X_train =X_train.reshape(X_train.shape[0],X_train.shape[1] , 1)
X_test = X_test.reshape(X_test.shape[0],X_test.shape[1] , 1)

**We will be adding the layers of the LSTM. The first layer should be the time step in 1.**

In [19]:
model=Sequential()
model.add(LSTM(50,return_sequences=True,input_shape=(100,1)))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss='mean_squared_error',optimizer='adam')

**Predict both the X_train and the X_test**

In [20]:
train_predict=model.predict(X_train)
test_predict=model.predict(X_test)
train_predict=scaler.inverse_transform(train_predict)
test_predict=scaler.inverse_transform(test_predict)

23/23 [==============================] - 2s 31ms/step
11/11 [==============================] - 0s 31ms/step

In [22]:
math.sqrt(mean_squared_error(y_train,train_predict))

93.17215146161789

In [23]:
#If I consider the last date in the test data as of 22-05-2020, I want to predict the output of 23-05-2020. We need the previous 100 data for that I am taking the data and reshaping it.

x_input=test_data[341:].reshape(1,-1)
x_input.shape

(1, 100)